.main

  .header
    .header__left-box
      .header__left-box__current-group
        = @group.name
      .header__left-box__message
        Menber :
        .header__left-box__list
          - @group.users.each do |u|
            = u.name
          -# = current_user.name
    .header__edit-btn
      -# %a{:href => "/groups/:id/edit"}
      -#   Edit
      = link_to "Edit", edit_group_path method: :edit


  .messages
    -# =  render @messages
    -# .message
    -#   .upper-info
    -#     .upper-info__talker
    -#       = message.user.name
    -#     .upper-info__date
    -#       = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    -#   .text
    -#     - if message.content.present?
    -#       %p.text__content
    -#       = message.content
    -#     = image_tag message.image.url, class: 'text__image' if message.image.present?

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__new-message', placeholder: 'type a message'
      .form__new-input-box
        = f.label :image, class: 'form__new-input-box__text' do
          = icon('fas', 'image', class: 'form__new-input-box__image')
          = f.file_field :image, class: 'hidden'
      = f.submit '送る', class: 'form__new-submit-btn'

    -#     .form
    -# = form_for [@group, @message] do |f|
    -# .form__new-message
    -#   .form__new-input-box
    -#     .form__new-input-box__text
    -#       入力してね!!
    -#     .form__new-input-box__image
    -#       %i.far.fa-image
    -#   .form__new-submit-btn
    -#     送る

      -#       .form
      -# = form_for [@group, @message] do |f|
      -#   = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      -#   .form__mask
      -#     = f.label :image, class: 'form__mask__image' do
      -#       = icon('fas', 'image', class: 'icon')
      -#       = f.file_field :image, class: 'hidden'
      -#   = f.submit 'Send', class: 'form__submit'
