.main

  .header
    .header__left-box
      .header__left-box__current-group
        = @group.name
      .header__left-box__message
        Menber :
        .header__left-box__list
          - @group.users.each do |u|
            = u.name
    = link_to "グループ編集",edit_group_path(@group),class: "header__edit-btn"

  .messages
    -# =  render @messages
    -# .message
    -#   .upper-info
    -#     .upper-info__talker
    -#       = message.user.name
    -#     .upper-info__date
    -#       = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    -#   .text
    -#     - if message.content.present?
    -#       %p.text__content
    -#       = message.content
    -#     = image_tag message.image.url, class: 'text__image' if message.image.present?

  .form
    = form_for [@group, @message] do |f|
      .form__new-message
        .form__new-message__input-box
          = f.text_field :content, class: 'text', placeholder: 'メッセージを入力できます！'
          = f.label :image, class: 'image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        %button{type: "submit", class:'btn'}
          %i.fas.fa-paper-plane
          .letter
            送信